.pad {
    padding: 1px;
}
#previewDataPasien {
    position: relative;
}

::-webkit-scrollbar {
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
}

/* untuk form agar tetap sesuai ukurannya */
#tabel-pemeriksaan .form-control {
    min-width: 80px; /* Sesuaikan dengan kebutuhan Anda */
    width: 100%;
}

/* CSS untuk menyesuaikan tampilan pada perangkat kecil */
@media (max-width: 576px) {
    #tabel-pemeriksaan .table-responsive .form-control {
        min-width: 100px;
        width: 100%;
    }
}

/* Flexbox untuk mengatur kolom */
#tabel-pemeriksaan .table-responsive td {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tabel-pemeriksaan .table-responsive .form-control {
    flex: 1;
    min-width: 100px;
    margin: 0 5px;
}

/* End */

/* Timeline Horizontal */

/* End */

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 50px;
    height: 50px;
}
.timeline.timeline-sm .timeline-item .timeline-item-marker {
    transform: translateX(0.875rem);
}
.timeline.timeline-sm
    .timeline-item
    .timeline-item-marker
    .timeline-item-marker-text {
    width: 3rem;
    font-size: 0.7rem;
}
.timeline.timeline-sm
    .timeline-item
    .timeline-item-marker
    .timeline-item-marker-indicator {
    height: 1.5rem;
    width: 1.5rem;
    font-size: 0.875rem;
}
.timeline.timeline-sm
    .timeline-item
    .timeline-item-marker
    .timeline-item-marker-indicator
    .feather {
    height: 0.75rem;
    width: 0.75rem;
}
.timeline.timeline-sm .timeline-item .timeline-item-content {
    font-size: 0.875rem;
    padding-top: 0.15rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
}

.timeline.timeline-xs .timeline-item .timeline-item-marker {
    transform: translateX(0.5625rem);
}
.timeline.timeline-xs
    .timeline-item
    .timeline-item-marker
    .timeline-item-marker-text {
    width: 3rem;
    font-size: 0.7rem;
}
.timeline.timeline-xs
    .timeline-item
    .timeline-item-marker
    .timeline-item-marker-indicator {
    height: 0.875rem;
    width: 0.875rem;
    font-size: 0.875rem;
    border: 0.125rem solid #fff;
    margin-top: -0.125rem;
}
.timeline.timeline-xs .timeline-item .timeline-item-content {
    font-size: 0.875rem;
    padding-top: 0;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
}
.timeline .timeline-item {
    display: flex;
    align-items: flex-start;
}
.timeline .timeline-item .timeline-item-marker {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.timeline .timeline-item .timeline-item-marker .timeline-item-marker-text {
    font-size: 0.875rem;
    width: 6rem;
    color: #a7aeb8;
    text-align: center;
    margin-bottom: 0.5rem;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.timeline .timeline-item .timeline-item-marker .timeline-item-marker-indicator {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 3rem;
    background-color: #13ee88;
    border-radius: 100%;
}
.timeline .timeline-item .timeline-item-content {
    padding-top: 0;
    padding-bottom: 2rem;
    padding-left: 1rem;
    width: 100%;
}
.timeline .timeline-item:last-child .timeline-item-content {
    padding-bottom: 0 !important;
}

@media (max-width: 768px) {
    .timeline {
        display: none;
    }
}
/* Custom */
/* Timeline Container */
#timeline-modal {
    display: none;
    padding: 10px 0;
    overflow-x: auto; /* Tambahkan scroll horizontal jika diperlukan */
    position: relative;
}

/* Timeline Horizontal Class */
.timeline-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* Garis Horizontal di Tengah Timeline */
.timeline-horizontal::before {
    content: "";
    position: absolute;
    top: 50%; /* Garis di tengah container */
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ccc;
    z-index: 1; /* Garis di bawah marker */
}

/* Setiap Item di Timeline */
.custom-timeline-item {
    position: relative;
    text-align: center;
    z-index: 2; /* Agar item berada di atas garis */
    flex-basis: 100px; /* Ukuran default tiap item */
    margin-right: 20px; /* Jarak antar item */
}

/* Marker pada Setiap Item */
.custom-timeline-item-marker {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #007bff;
    position: relative;
    z-index: 3; /* Memastikan marker berada di atas garis */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Teks Waktu pada Marker */
.custom-timeline-item-marker-text {
    font-size: 12px;
    margin-bottom: 5px;
}

/* Ikon di Marker */
.timeline-item-marker-indicator {
    font-size: 10px;
    color: white;
}

/* Konten pada Setiap Item */

/* Responsiveness (Tampilan Mobile) */

/* End */

@media (min-width: 576px) {
    .timeline .timeline-item .timeline-item-marker {
        flex-direction: row;
        transform: translateX(1.625rem);
        margin-bottom: 0;
    }
    .timeline .timeline-item .timeline-item-marker .timeline-item-marker-text {
        margin-right: 0.5rem;
        margin-bottom: 0;
    }
    .timeline .timeline-item .timeline-item-content {
        padding-top: 0.75rem;
        padding-bottom: 3rem;
        padding-left: 3rem;
        border-left: solid 0.25rem#13ee88;
    }
    .timeline .timeline-item:last-child .timeline-item-content {
        border-left-color: transparent;
    }
}

/* @media screen and (max-width: 980px) {
    .main-progress ul {
        flex-direction: column;
        margin: auto;
    }
    .main-progress ul li {
        flex-direction: row;
    }
    .main-progress ul li .progression {
        margin: 0 50px;
    }
    .main-progress ul li .progression::after {
        width: 5px;
        height: 53px;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
    }
    .main-progress ul li .one::after {
        height: 0;
    }
    .main-progress ul li .iconscout {
        margin: 15px 0;
    }

    .main-progress ul li .text-ket {
        margin-bottom: -3px;
        margin-top: 22px;
    }
    .main-progress ul li .clock {
        text-align: left;
        font-weight: 500;
        font-size: 12px;
    }
} */
/* Accordion */

.subtext {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail-container {
    display: flex;
    gap: 20px; /* Space between items */
}

.detail-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px; /* Adjust width as needed */
}

.detail-text {
    text-align: center;
    margin-bottom: 5px;
}

.detail-image-container {
    text-align: center;
}

.detail-image {
    display: block;
    margin-bottom: 5px;
}

.detail-radio-container {
    text-align: center;
}

.detail-radio {
    margin-top: 5px;
}
